In [1]:
import tweepy

In [2]:
auth = tweepy.OAuthHandler(consumer_key='s4r80P6oi0JdstClLsMmqN2kd', 
                           consumer_secret='ZHAxaOuRkV3OzcwfpgQXfPcNK7hu8xZhY90evYzrbduVdnb4u8')

auth.set_access_token('803324470240808960-co4vq6Bynq5SosNaKN6R92D6xq9jlv6',
                      'ffzRldKIdOJUP8u5vW3XS9JRNGahJNKkvy2cjYdKGRA8M')

In [3]:
api = tweepy.API(auth)

In [4]:
tweets= api.search("Donorschoose")

In [5]:
tweets[0]._json

{'created_at': 'Sun Oct 25 18:47:39 +0000 2020',
 'id': 1320436879611682816,
 'id_str': '1320436879611682816',
 'text': "RT @KASMOM24: It kind of makes me sad that people won't take the time to #RT because they want votes for themselves. I RT for everyone. Ple‚Ä¶",
 'truncated': False,
 'entities': {'hashtags': [{'text': 'RT', 'indices': [73, 76]}],
  'symbols': [],
  'user_mentions': [{'screen_name': 'KASMOM24',
    'name': 'Kelly is Quar-an-teaching üçè',
    'id': 813874087869218816,
    'id_str': '813874087869218816',
    'indices': [3, 12]}],
  'urls': []},
 'metadata': {'iso_language_code': 'en', 'result_type': 'recent'},
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 1128495209463959553,
  'id_str': '1128495209463959553',
  'name': 'MissSally',
  'screen_name': 'MissSally02',
  'location': 'Las Vegas, NV',
  'description': 'Momx2/wife/GS Troop Leader/sped teacher k-2/MSped. ‚ù§Ô∏èthe Patriots/Red Sox/Bruins & Golden Knights because I live in Vegas but am a New England girl at heart üíó',
  'url': 'https://t.co/PTvTDEBimA',
  'entities': {'url': {'urls': [{'url': 'https://t.co/PTvTDEBimA',
      'expanded_url': 'https://www.donorschoose.org/project/differentiated-learning-with-boom-cards/5027515/',
      'display_url': 'donorschoose.org/project/differ‚Ä¶',
      'indices': [0, 23]}]},
   'description': {'urls': []}},
  'protected': False,
  'followers_count': 2581,
  'friends_count': 3130,
  'listed_count': 3,
  'created_at': 'Wed May 15 02:59:59 +0000 2019',
  'favourites_count': 26305,
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': False,
  'verified': False,
  'statuses_count': 23981,
  'lang': None,
  'contributors_enabled': False,
  'is_translator': False,
  'is_translation_enabled': False,
  'profile_background_color': 'F5F8FA',
  'profile_background_image_url': None,
  'profile_background_image_url_https': None,
  'profile_background_tile': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/1287038959273402371/xk6dppi0_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1287038959273402371/xk6dppi0_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/1128495209463959553/1591197388',
  'profile_link_color': '1DA1F2',
  'profile_sidebar_border_color': 'C0DEED',
  'profile_sidebar_fill_color': 'DDEEF6',
  'profile_text_color': '333333',
  'profile_use_background_image': True,
  'has_extended_profile': False,
  'default_profile': True,
  'default_profile_image': False,
  'following': False,
  'follow_request_sent': False,
  'notifications': False,
  'translator_type': 'none'},
 'geo': None,
 'coordinates': None,
 'place': None,
 'contributors': None,
 'retweeted_status': {'created_at': 'Sun Oct 25 18:28:48 +0000 2020',
  'id': 1320432136227295234,
  'id_str': '1320432136227295234',
  'text': "It kind of makes me sad that people won't take the time to #RT because they want votes for themselves. I RT for eve‚Ä¶ https://t.co/gtVEH236Dd",
  'truncated': True,
  'entities': {'hashtags': [{'text': 'RT', 'indices': [59, 62]}],
   'symbols': [],
   'user_mentions': [],
   'urls': [{'url': 'https://t.co/gtVEH236Dd',
     'expanded_url': 'https://twitter.com/i/web/status/1320432136227295234',
     'display_url': 'twitter.com/i/web/status/1‚Ä¶',
     'indices': [117, 140]}]},
  'metadata': {'iso_language_code': 'en', 'result_type': 'recent'},
  'source': '<a href="https://mobile.twitter.com" rel="nofollow">Twitter Web App</a>',
  'in_reply_to_status_id': None,
  'in_reply_to_status_id_str': None,
  'in_reply_to_user_id': None,
  'in_reply_to_user_id_str': None,
  'in_reply_to_screen_name': None,
  'user': {'id': 813874087869218816,
   'id_str': '813874087869218816',
   'name': 'Kelly is Quar-an-teaching üçè',
   'screen_name': 'KASMOM24',
   'location': 'Wisconsin, USA',
   'description': 'Mom of four wonderful kids. Third grade public school teacher. Love helping others. Disney fanatic. #clearthelists #DonorsChoose Amazon Wish List https://t.co/mcE8fqL0ku',
   'url': None,
   'entities': {'description': {'urls': [{'url': 'https://t.co/mcE8fqL0ku',
       'expanded_url': 'http://tiny.cc/vzbcmz',
       'display_url': 'tiny.cc/vzbcmz',
       'indices': [146, 169]}]}},
   'protected': False,
   'followers_count': 5379,
   'friends_count': 3651,
   'listed_count': 22,
   'created_at': 'Tue Dec 27 22:27:58 +0000 2016',
   'favourites_count': 32345,
   'utc_offset': None,
   'time_zone': None,
   'geo_enabled': False,
   'verified': False,
   'statuses_count': 32143,
   'lang': None,
   'contributors_enabled': False,
   'is_translator': False,
   'is_translation_enabled': False,
   'profile_background_color': '000000',
   'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
   'profile_background_tile': False,
   'profile_image_url': 'http://pbs.twimg.com/profile_images/1263552716909010948/Pf7PGSWS_normal.jpg',
   'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1263552716909010948/Pf7PGSWS_normal.jpg',
   'profile_banner_url': 'https://pbs.twimg.com/profile_banners/813874087869218816/1483232124',
   'profile_link_color': '981CEB',
   'profile_sidebar_border_color': '000000',
   'profile_sidebar_fill_color': '000000',
   'profile_text_color': '000000',
   'profile_use_background_image': False,
   'has_extended_profile': True,
   'default_profile': False,
   'default_profile_image': False,
   'following': False,
   'follow_request_sent': False,
   'notifications': False,
   'translator_type': 'none'},
  'geo': None,
  'coordinates': None,
  'place': None,
  'contributors': None,
  'is_quote_status': False,
  'retweet_count': 9,
  'favorite_count': 7,
  'favorited': False,
  'retweeted': False,
  'possibly_sensitive': False,
  'lang': 'en'},
 'is_quote_status': False,
 'retweet_count': 9,
 'favorite_count': 0,
 'favorited': False,
 'retweeted': False,
 'lang': 'en'}

In [6]:
# Getting individual information
tweet_id = []
for i in range(0, len(tweets)):
    tweet_id.append(tweets[i]._json['id'])
tweet_id

[1320436879611682816,
 1320436777476304906,
 1320436162381709312,
 1320436161760927746,
 1320435393188130816,
 1320435218247987202,
 1320435099071062027,
 1320434942925484033,
 1320434531623751680,
 1320434035856969729,
 1320433472658411521,
 1320433347911421953,
 1320433222069690371,
 1320433085754716160,
 1320432586586427393]

In [8]:
tweet_created = []
for i in range(0,len(tweets)):
    tweet_created.append(tweets[i]._json['created_at'])
tweet_created

['Sun Oct 25 18:47:39 +0000 2020',
 'Sun Oct 25 18:47:14 +0000 2020',
 'Sun Oct 25 18:44:48 +0000 2020',
 'Sun Oct 25 18:44:48 +0000 2020',
 'Sun Oct 25 18:41:44 +0000 2020',
 'Sun Oct 25 18:41:03 +0000 2020',
 'Sun Oct 25 18:40:34 +0000 2020',
 'Sun Oct 25 18:39:57 +0000 2020',
 'Sun Oct 25 18:38:19 +0000 2020',
 'Sun Oct 25 18:36:21 +0000 2020',
 'Sun Oct 25 18:34:07 +0000 2020',
 'Sun Oct 25 18:33:37 +0000 2020',
 'Sun Oct 25 18:33:07 +0000 2020',
 'Sun Oct 25 18:32:34 +0000 2020',
 'Sun Oct 25 18:30:35 +0000 2020']

In [9]:
tweet_username = []
for i in range(0,len(tweets)):
    tweet_username.append(tweets[i]._json['user']['name'])
tweet_username

['MissSally',
 'Teresa Smithhisler',
 'Tammy Meyer',
 'Melissa Darrow, NBCT',
 'Brett Bigham LGBT youth of color need your support',
 '‚≠êÔ∏è‚ìêùïÑ—É –≤‚Ñùanùîªùïñ‚ìùùêõ·ëårùïò‚≠êÔ∏è',
 'Kindness Rocks DonorsChoose Giving Page',
 'Laura Edwards',
 'üêä Edug8r with Empathy üêä',
 'Mrs. Parker',
 'Jackie Beegun',
 'AHadz üß°üå∑üêâ',
 'Deidra Dumm',
 'Richard',
 'Heather Wetzlerüéìüíõüêù']

In [11]:
tweet_friends = []
for i in range(0,len(tweets)):
    tweet_friends.append(tweets[i]._json['user']['friends_count'])
tweet_friends

[3130,
 1511,
 3152,
 490,
 4786,
 2362,
 2142,
 3097,
 5842,
 1104,
 766,
 5922,
 647,
 425,
 5092]

In [12]:
tweet_followers = []
for i in range(0,len(tweets)):
    tweet_followers.append(tweets[i]._json['user']['followers_count'])
tweet_followers

[2581,
 1514,
 3069,
 259,
 11865,
 2747,
 2658,
 3585,
 5646,
 511,
 510,
 21839,
 418,
 107,
 10636]

In [14]:
tweet_retweet = []
for i in range(0,len(tweets)):
    tweet_retweet.append(tweets[i]._json['retweet_count'])
tweet_retweet

[9, 9, 9, 9, 0, 9, 2, 2, 9, 9, 9, 0, 6, 0, 6]

In [16]:
import pandas as pd
df = pd.DataFrame()

In [18]:
# Creating a dataframe with the collected information
df['tweet_id'] = tweet_id
df['created_at'] = tweet_created
df['name'] = tweet_username
df['friends_count'] = tweet_friends
df['followers_count'] = tweet_followers
df['retweet'] = tweet_retweet

In [19]:
df

,tweet_id,created_at,name,friends_count,followers_count,retweet
0,1320436879611682816,Sun Oct 25 18:47:39 +0000 2020,MissSally,3130,2581,9
1,1320436777476304906,Sun Oct 25 18:47:14 +0000 2020,Teresa Smithhisler,1511,1514,9
2,1320436162381709312,Sun Oct 25 18:44:48 +0000 2020,Tammy Meyer,3152,3069,9
3,1320436161760927746,Sun Oct 25 18:44:48 +0000 2020,"Melissa Darrow, NBCT",490,259,9
4,1320435393188130816,Sun Oct 25 18:41:44 +0000 2020,Brett Bigham LGBT youth of color need your sup...,4786,11865,0
5,1320435218247987202,Sun Oct 25 18:41:03 +0000 2020,‚≠êÔ∏è‚ìêùïÑ—É –≤‚Ñùanùîªùïñ‚ìùùêõ·ëårùïò‚≠êÔ∏è,2362,2747,9
6,1320435099071062027,Sun Oct 25 18:40:34 +0000 2020,Kindness Rocks DonorsChoose Giving Page,2142,2658,2
7,1320434942925484033,Sun Oct 25 18:39:57 +0000 2020,Laura Edwards,3097,3585,2
8,1320434531623751680,Sun Oct 25 18:38:19 +0000 2020,üêä Edug8r with Empathy üêä,5842,5646,9
9,1320434035856969729,Sun Oct 25 18:36:21 +0000 2020,Mrs. Parker,1104,511,9
10,1320433472658411521,Sun Oct 25 18:34:07 +0000 2020,Jackie Beegun,766,510,9
11,1320433347911421953,Sun Oct 25 18:33:37 +0000 2020,AHadz üß°üå∑üêâ,5922,21839,0
12,1320433222069690371,Sun Oct 25 18:33:07 +0000 2020,Deidra Dumm,647,418,6
13,1320433085754716160,Sun Oct 25 18:32:34 +0000 2020,Richard,425,107,0
14,1320432586586427393,Sun Oct 25 18:30:35 +0000 2020,Heather Wetzlerüéìüíõüêù,5092,10636,6

In [20]:
# Collecting more tweets
tweets= api.search("Donorschoose", max_id='1320432586586427393')

In [21]:
# Getting info for older tweets
tweet_id = []
for i in range(0, len(tweets)):
    tweet_id.append(tweets[i]._json['id'])

    
tweet_created = []
for i in range(0,len(tweets)):
    tweet_created.append(tweets[i]._json['created_at'])

tweet_username = []
for i in range(0,len(tweets)):
    tweet_username.append(tweets[i]._json['user']['name'])
    
tweet_friends = []
for i in range(0,len(tweets)):
    tweet_friends.append(tweets[i]._json['user']['friends_count'])

tweet_followers = []
for i in range(0,len(tweets)):
    tweet_followers.append(tweets[i]._json['user']['followers_count'])
    
tweet_retweet = []
for i in range(0,len(tweets)):
    tweet_retweet.append(tweets[i]._json['retweet_count'])

In [22]:
df1 = pd.DataFrame()

In [23]:
# Putting those in a data frame
df1['tweet_id'] = tweet_id
df1['created_at'] = tweet_created
df1['name'] = tweet_username
df1['friends_count'] = tweet_friends
df1['followers_count'] = tweet_followers
df1['retweet'] = tweet_retweet

In [24]:
df1

,tweet_id,created_at,name,friends_count,followers_count,retweet
0,1320432586586427393,Sun Oct 25 18:30:35 +0000 2020,Heather Wetzlerüéìüíõüêù,5092,10636,6
1,1320432531293032454,Sun Oct 25 18:30:22 +0000 2020,Jill Ollmann,1393,666,11
2,1320432326900436999,Sun Oct 25 18:29:33 +0000 2020,Kelly is Quar-an-teaching üçè,3651,5379,11
3,1320432136227295234,Sun Oct 25 18:28:48 +0000 2020,Kelly is Quar-an-teaching üçè,3651,5379,11
4,1320431451993722880,Sun Oct 25 18:26:05 +0000 2020,Veronica Flores,139,126,0
5,1320431336574902272,Sun Oct 25 18:25:37 +0000 2020,Mrs. Marquez,2076,3170,10
6,1320431173303177223,Sun Oct 25 18:24:58 +0000 2020,Stacey Reed,1761,1274,15
7,1320431122782846978,Sun Oct 25 18:24:46 +0000 2020,Ms. Melissa teaches preschool,607,1031,0
8,1320430730997075968,Sun Oct 25 18:23:13 +0000 2020,Yvonne Cervera,426,1359,16
9,1320430128351072262,Sun Oct 25 18:20:49 +0000 2020,Rosa K,1031,277,9
10,1320429963179425793,Sun Oct 25 18:20:10 +0000 2020,Therese Hubbell,3009,3030,15
11,1320429339284967424,Sun Oct 25 18:17:41 +0000 2020,Therese Garcia,589,298,4
12,1320428039881240576,Sun Oct 25 18:12:31 +0000 2020,Pauletta Graytok,1159,441,0
13,1320427962651627521,Sun Oct 25 18:12:13 +0000 2020,Michelle Harris,518,164,0
14,1320427688759382017,Sun Oct 25 18:11:08 +0000 2020,heather khot phd,582,199,1

In [25]:
# Adding it to the first df
df=pd.concat([df,df1], ignore_index=True)
df

,tweet_id,created_at,name,friends_count,followers_count,retweet
0,1320436879611682816,Sun Oct 25 18:47:39 +0000 2020,MissSally,3130,2581,9
1,1320436777476304906,Sun Oct 25 18:47:14 +0000 2020,Teresa Smithhisler,1511,1514,9
2,1320436162381709312,Sun Oct 25 18:44:48 +0000 2020,Tammy Meyer,3152,3069,9
3,1320436161760927746,Sun Oct 25 18:44:48 +0000 2020,"Melissa Darrow, NBCT",490,259,9
4,1320435393188130816,Sun Oct 25 18:41:44 +0000 2020,Brett Bigham LGBT youth of color need your sup...,4786,11865,0
5,1320435218247987202,Sun Oct 25 18:41:03 +0000 2020,‚≠êÔ∏è‚ìêùïÑ—É –≤‚Ñùanùîªùïñ‚ìùùêõ·ëårùïò‚≠êÔ∏è,2362,2747,9
6,1320435099071062027,Sun Oct 25 18:40:34 +0000 2020,Kindness Rocks DonorsChoose Giving Page,2142,2658,2
7,1320434942925484033,Sun Oct 25 18:39:57 +0000 2020,Laura Edwards,3097,3585,2
8,1320434531623751680,Sun Oct 25 18:38:19 +0000 2020,üêä Edug8r with Empathy üêä,5842,5646,9
9,1320434035856969729,Sun Oct 25 18:36:21 +0000 2020,Mrs. Parker,1104,511,9
10,1320433472658411521,Sun Oct 25 18:34:07 +0000 2020,Jackie Beegun,766,510,9
11,1320433347911421953,Sun Oct 25 18:33:37 +0000 2020,AHadz üß°üå∑üêâ,5922,21839,0
12,1320433222069690371,Sun Oct 25 18:33:07 +0000 2020,Deidra Dumm,647,418,6
13,1320433085754716160,Sun Oct 25 18:32:34 +0000 2020,Richard,425,107,0
14,1320432586586427393,Sun Oct 25 18:30:35 +0000 2020,Heather Wetzlerüéìüíõüêù,5092,10636,6
15,1320432586586427393,Sun Oct 25 18:30:35 +0000 2020,Heather Wetzlerüéìüíõüêù,5092,10636,6
16,1320432531293032454,Sun Oct 25 18:30:22 +0000 2020,Jill Ollmann,1393,666,11
17,1320432326900436999,Sun Oct 25 18:29:33 +0000 2020,Kelly is Quar-an-teaching üçè,3651,5379,11
18,1320432136227295234,Sun Oct 25 18:28:48 +0000 2020,Kelly is Quar-an-teaching üçè,3651,5379,11
19,1320431451993722880,Sun Oct 25 18:26:05 +0000 2020,Veronica Flores,139,126,0
20,1320431336574902272,Sun Oct 25 18:25:37 +0000 2020,Mrs. Marquez,2076,3170,10
21,1320431173303177223,Sun Oct 25 18:24:58 +0000 2020,Stacey Reed,1761,1274,15
22,1320431122782846978,Sun Oct 25 18:24:46 +0000 2020,Ms. Melissa teaches preschool,607,1031,0
23,1320430730997075968,Sun Oct 25 18:23:13 +0000 2020,Yvonne Cervera,426,1359,16
24,1320430128351072262,Sun Oct 25 18:20:49 +0000 2020,Rosa K,1031,277,9
25,1320429963179425793,Sun Oct 25 18:20:10 +0000 2020,Therese Hubbell,3009,3030,15
26,1320429339284967424,Sun Oct 25 18:17:41 +0000 2020,Therese Garcia,589,298,4
27,1320428039881240576,Sun Oct 25 18:12:31 +0000 2020,Pauletta Graytok,1159,441,0
28,1320427962651627521,Sun Oct 25 18:12:13 +0000 2020,Michelle Harris,518,164,0
29,1320427688759382017,Sun Oct 25 18:11:08 +0000 2020,heather khot phd,582,199,1

In [26]:
# Collecting more tweets
tweets= api.search("Donorschoose", max_id='1320427688759382017')

In [27]:
# Getting info for older tweets
tweet_id = []
for i in range(0, len(tweets)):
    tweet_id.append(tweets[i]._json['id'])

    
tweet_created = []
for i in range(0,len(tweets)):
    tweet_created.append(tweets[i]._json['created_at'])

tweet_username = []
for i in range(0,len(tweets)):
    tweet_username.append(tweets[i]._json['user']['name'])
    
tweet_friends = []
for i in range(0,len(tweets)):
    tweet_friends.append(tweets[i]._json['user']['friends_count'])

tweet_followers = []
for i in range(0,len(tweets)):
    tweet_followers.append(tweets[i]._json['user']['followers_count'])
    
tweet_retweet = []
for i in range(0,len(tweets)):
    tweet_retweet.append(tweets[i]._json['retweet_count'])

In [28]:
df2 = pd.DataFrame()

In [29]:
# Putting those in a data frame
df2['tweet_id'] = tweet_id
df2['created_at'] = tweet_created
df2['name'] = tweet_username
df2['friends_count'] = tweet_friends
df2['followers_count'] = tweet_followers
df2['retweet'] = tweet_retweet

In [30]:
df2

,tweet_id,created_at,name,friends_count,followers_count,retweet
0,1320427688759382017,Sun Oct 25 18:11:08 +0000 2020,heather khot phd,582,199,1
1,1320427161157853197,Sun Oct 25 18:09:02 +0000 2020,‚≠êÔ∏è‚ìêùïÑ—É –≤‚Ñùanùîªùïñ‚ìùùêõ·ëårùïò‚≠êÔ∏è,2362,2747,5
2,1320426759767105536,Sun Oct 25 18:07:26 +0000 2020,AHadz üß°üå∑üêâ,5922,21833,0
3,1320426595182616576,Sun Oct 25 18:06:47 +0000 2020,‚≠êÔ∏è‚ìêùïÑ—É –≤‚Ñùanùîªùïñ‚ìùùêõ·ëårùïò‚≠êÔ∏è,2362,2747,4
4,1320425817021829123,Sun Oct 25 18:03:41 +0000 2020,Amy,198,138,3
5,1320423137234821125,Sun Oct 25 17:53:02 +0000 2020,‚≠êÔ∏è‚ìêùïÑ—É –≤‚Ñùanùîªùïñ‚ìùùêõ·ëårùïò‚≠êÔ∏è,2362,2747,5
6,1320423052287614982,Sun Oct 25 17:52:42 +0000 2020,‚≠êÔ∏è‚ìêùïÑ—É –≤‚Ñùanùîªùïñ‚ìùùêõ·ëårùïò‚≠êÔ∏è,2362,2747,11
7,1320422624623812611,Sun Oct 25 17:51:00 +0000 2020,Therese Hubbell,3009,3030,0
8,1320422596161265665,Sun Oct 25 17:50:53 +0000 2020,Therese Hubbell,3009,3030,5
9,1320421734730899456,Sun Oct 25 17:47:28 +0000 2020,Ruru,918,91,0
10,1320421362129928192,Sun Oct 25 17:45:59 +0000 2020,Laura Edwards,3097,3586,0
11,1320420279433056256,Sun Oct 25 17:41:41 +0000 2020,lamaestra,80,47,0
12,1320419363846062081,Sun Oct 25 17:38:03 +0000 2020,AHadz üß°üå∑üêâ,5922,21833,0
13,1320419277237817347,Sun Oct 25 17:37:42 +0000 2020,AHadz üß°üå∑üêâ,5922,21833,35
14,1320419236205023233,Sun Oct 25 17:37:32 +0000 2020,Yvonne Cervera,426,1359,0

In [31]:
# Adding this to the first df
df=pd.concat([df,df2], ignore_index=True)
df

,tweet_id,created_at,name,friends_count,followers_count,retweet
0,1320436879611682816,Sun Oct 25 18:47:39 +0000 2020,MissSally,3130,2581,9
1,1320436777476304906,Sun Oct 25 18:47:14 +0000 2020,Teresa Smithhisler,1511,1514,9
2,1320436162381709312,Sun Oct 25 18:44:48 +0000 2020,Tammy Meyer,3152,3069,9
3,1320436161760927746,Sun Oct 25 18:44:48 +0000 2020,"Melissa Darrow, NBCT",490,259,9
4,1320435393188130816,Sun Oct 25 18:41:44 +0000 2020,Brett Bigham LGBT youth of color need your sup...,4786,11865,0
5,1320435218247987202,Sun Oct 25 18:41:03 +0000 2020,‚≠êÔ∏è‚ìêùïÑ—É –≤‚Ñùanùîªùïñ‚ìùùêõ·ëårùïò‚≠êÔ∏è,2362,2747,9
6,1320435099071062027,Sun Oct 25 18:40:34 +0000 2020,Kindness Rocks DonorsChoose Giving Page,2142,2658,2
7,1320434942925484033,Sun Oct 25 18:39:57 +0000 2020,Laura Edwards,3097,3585,2
8,1320434531623751680,Sun Oct 25 18:38:19 +0000 2020,üêä Edug8r with Empathy üêä,5842,5646,9
9,1320434035856969729,Sun Oct 25 18:36:21 +0000 2020,Mrs. Parker,1104,511,9
10,1320433472658411521,Sun Oct 25 18:34:07 +0000 2020,Jackie Beegun,766,510,9
11,1320433347911421953,Sun Oct 25 18:33:37 +0000 2020,AHadz üß°üå∑üêâ,5922,21839,0
12,1320433222069690371,Sun Oct 25 18:33:07 +0000 2020,Deidra Dumm,647,418,6
13,1320433085754716160,Sun Oct 25 18:32:34 +0000 2020,Richard,425,107,0
14,1320432586586427393,Sun Oct 25 18:30:35 +0000 2020,Heather Wetzlerüéìüíõüêù,5092,10636,6
15,1320432586586427393,Sun Oct 25 18:30:35 +0000 2020,Heather Wetzlerüéìüíõüêù,5092,10636,6
16,1320432531293032454,Sun Oct 25 18:30:22 +0000 2020,Jill Ollmann,1393,666,11
17,1320432326900436999,Sun Oct 25 18:29:33 +0000 2020,Kelly is Quar-an-teaching üçè,3651,5379,11
18,1320432136227295234,Sun Oct 25 18:28:48 +0000 2020,Kelly is Quar-an-teaching üçè,3651,5379,11
19,1320431451993722880,Sun Oct 25 18:26:05 +0000 2020,Veronica Flores,139,126,0
20,1320431336574902272,Sun Oct 25 18:25:37 +0000 2020,Mrs. Marquez,2076,3170,10
21,1320431173303177223,Sun Oct 25 18:24:58 +0000 2020,Stacey Reed,1761,1274,15
22,1320431122782846978,Sun Oct 25 18:24:46 +0000 2020,Ms. Melissa teaches preschool,607,1031,0
23,1320430730997075968,Sun Oct 25 18:23:13 +0000 2020,Yvonne Cervera,426,1359,16
24,1320430128351072262,Sun Oct 25 18:20:49 +0000 2020,Rosa K,1031,277,9
25,1320429963179425793,Sun Oct 25 18:20:10 +0000 2020,Therese Hubbell,3009,3030,15
26,1320429339284967424,Sun Oct 25 18:17:41 +0000 2020,Therese Garcia,589,298,4
27,1320428039881240576,Sun Oct 25 18:12:31 +0000 2020,Pauletta Graytok,1159,441,0
28,1320427962651627521,Sun Oct 25 18:12:13 +0000 2020,Michelle Harris,518,164,0
29,1320427688759382017,Sun Oct 25 18:11:08 +0000 2020,heather khot phd,582,199,1
30,1320427688759382017,Sun Oct 25 18:11:08 +0000 2020,heather khot phd,582,199,1
31,1320427161157853197,Sun Oct 25 18:09:02 +0000 2020,‚≠êÔ∏è‚ìêùïÑ—É –≤‚Ñùanùîªùïñ‚ìùùêõ·ëårùïò‚≠êÔ∏è,2362,2747,5
32,1320426759767105536,Sun Oct 25 18:07:26 +0000 2020,AHadz üß°üå∑üêâ,5922,21833,0
33,1320426595182616576,Sun Oct 25 18:06:47 +0000 2020,‚≠êÔ∏è‚ìêùïÑ—É –≤‚Ñùanùîªùïñ‚ìùùêõ·ëårùïò‚≠êÔ∏è,2362,2747,4
34,1320425817021829123,Sun Oct 25 18:03:41 +0000 2020,Amy,198,138,3
35,1320423137234821125,Sun Oct 25 17:53:02 +0000 2020,‚≠êÔ∏è‚ìêùïÑ—É –≤‚Ñùanùîªùïñ‚ìùùêõ·ëårùïò‚≠êÔ∏è,2362,2747,5
36,1320423052287614982,Sun Oct 25 17:52:42 +0000 2020,‚≠êÔ∏è‚ìêùïÑ—É –≤‚Ñùanùîªùïñ‚ìùùêõ·ëårùïò‚≠êÔ∏è,2362,2747,11
37,1320422624623812611,Sun Oct 25 17:51:00 +0000 2020,Therese Hubbell,3009,3030,0
38,1320422596161265665,Sun Oct 25 17:50:53 +0000 2020,Therese Hubbell,3009,3030,5
39,1320421734730899456,Sun Oct 25 17:47:28 +0000 2020,Ruru,918,91,0
40,1320421362129928192,Sun Oct 25 17:45:59 +0000 2020,Laura Edwards,3097,3586,0
41,1320420279433056256,Sun Oct 25 17:41:41 +0000 2020,lamaestra,80,47,0
42,1320419363846062081,Sun Oct 25 17:38:03 +0000 2020,AHadz üß°üå∑üêâ,5922,21833,0
43,1320419277237817347,Sun Oct 25 17:37:42 +0000 2020,AHadz üß°üå∑üêâ,5922,21833,35
44,1320419236205023233,Sun Oct 25 17:37:32 +0000 2020,Yvonne Cervera,426,1359,0

In [32]:
# Continuing the same process till we collect 100 tweets
tweets= api.search("Donorschoose", max_id='1320419236205023233')

In [33]:
tweet_id = []
for i in range(0, len(tweets)):
    tweet_id.append(tweets[i]._json['id'])

    
tweet_created = []
for i in range(0,len(tweets)):
    tweet_created.append(tweets[i]._json['created_at'])

tweet_username = []
for i in range(0,len(tweets)):
    tweet_username.append(tweets[i]._json['user']['name'])
    
tweet_friends = []
for i in range(0,len(tweets)):
    tweet_friends.append(tweets[i]._json['user']['friends_count'])

tweet_followers = []
for i in range(0,len(tweets)):
    tweet_followers.append(tweets[i]._json['user']['followers_count'])
    
tweet_retweet = []
for i in range(0,len(tweets)):
    tweet_retweet.append(tweets[i]._json['retweet_count'])

In [34]:
df3 = pd.DataFrame()

In [37]:
df3['tweet_id'] = tweet_id
df3['created_at'] = tweet_created
df3['name'] = tweet_username
df3['friends_count'] = tweet_friends
df3['followers_count'] = tweet_followers
df3['retweet'] = tweet_retweet

In [38]:
df3

,tweet_id,created_at,name,friends_count,followers_count,retweet
0,1320419236205023233,Sun Oct 25 17:37:32 +0000 2020,Yvonne Cervera,426,1359,0
1,1320419027517345796,Sun Oct 25 17:36:43 +0000 2020,Yvonne Cervera,426,1359,0
2,1320418936668758017,Sun Oct 25 17:36:21 +0000 2020,Just Stay Home,829,1518,1
3,1320418556207616000,Sun Oct 25 17:34:50 +0000 2020,Kelly is Quar-an-teaching üçè,3651,5378,0
4,1320418366310547457,Sun Oct 25 17:34:05 +0000 2020,CrabbyStaysHome #SaveALife,1478,948,1
5,1320417725777350659,Sun Oct 25 17:31:32 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,4
6,1320417203464900609,Sun Oct 25 17:29:28 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,1
7,1320416973344260102,Sun Oct 25 17:28:33 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,0
8,1320416807107395590,Sun Oct 25 17:27:53 +0000 2020,ùïÇ. ùîΩùï£ùïöùï´ùï´ùïñùïùùïùùïñ üíìüçéüíª‚úèÔ∏èüìö,1222,899,4
9,1320416732746555392,Sun Oct 25 17:27:35 +0000 2020,Moody,1233,837,0
10,1320416669211164674,Sun Oct 25 17:27:20 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,5
11,1320416655651098627,Sun Oct 25 17:27:17 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,4
12,1320416635770097666,Sun Oct 25 17:27:12 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,1
13,1320416599493496833,Sun Oct 25 17:27:04 +0000 2020,Classroom Giving,104,3613,0
14,1320416434716069889,Sun Oct 25 17:26:24 +0000 2020,Classroom Giving,104,3613,2

In [39]:
df=pd.concat([df,df3], ignore_index=True)
df

,tweet_id,created_at,name,friends_count,followers_count,retweet
0,1320436879611682816,Sun Oct 25 18:47:39 +0000 2020,MissSally,3130,2581,9
1,1320436777476304906,Sun Oct 25 18:47:14 +0000 2020,Teresa Smithhisler,1511,1514,9
2,1320436162381709312,Sun Oct 25 18:44:48 +0000 2020,Tammy Meyer,3152,3069,9
3,1320436161760927746,Sun Oct 25 18:44:48 +0000 2020,"Melissa Darrow, NBCT",490,259,9
4,1320435393188130816,Sun Oct 25 18:41:44 +0000 2020,Brett Bigham LGBT youth of color need your sup...,4786,11865,0
5,1320435218247987202,Sun Oct 25 18:41:03 +0000 2020,‚≠êÔ∏è‚ìêùïÑ—É –≤‚Ñùanùîªùïñ‚ìùùêõ·ëårùïò‚≠êÔ∏è,2362,2747,9
6,1320435099071062027,Sun Oct 25 18:40:34 +0000 2020,Kindness Rocks DonorsChoose Giving Page,2142,2658,2
7,1320434942925484033,Sun Oct 25 18:39:57 +0000 2020,Laura Edwards,3097,3585,2
8,1320434531623751680,Sun Oct 25 18:38:19 +0000 2020,üêä Edug8r with Empathy üêä,5842,5646,9
9,1320434035856969729,Sun Oct 25 18:36:21 +0000 2020,Mrs. Parker,1104,511,9
10,1320433472658411521,Sun Oct 25 18:34:07 +0000 2020,Jackie Beegun,766,510,9
11,1320433347911421953,Sun Oct 25 18:33:37 +0000 2020,AHadz üß°üå∑üêâ,5922,21839,0
12,1320433222069690371,Sun Oct 25 18:33:07 +0000 2020,Deidra Dumm,647,418,6
13,1320433085754716160,Sun Oct 25 18:32:34 +0000 2020,Richard,425,107,0
14,1320432586586427393,Sun Oct 25 18:30:35 +0000 2020,Heather Wetzlerüéìüíõüêù,5092,10636,6
15,1320432586586427393,Sun Oct 25 18:30:35 +0000 2020,Heather Wetzlerüéìüíõüêù,5092,10636,6
16,1320432531293032454,Sun Oct 25 18:30:22 +0000 2020,Jill Ollmann,1393,666,11
17,1320432326900436999,Sun Oct 25 18:29:33 +0000 2020,Kelly is Quar-an-teaching üçè,3651,5379,11
18,1320432136227295234,Sun Oct 25 18:28:48 +0000 2020,Kelly is Quar-an-teaching üçè,3651,5379,11
19,1320431451993722880,Sun Oct 25 18:26:05 +0000 2020,Veronica Flores,139,126,0
20,1320431336574902272,Sun Oct 25 18:25:37 +0000 2020,Mrs. Marquez,2076,3170,10
21,1320431173303177223,Sun Oct 25 18:24:58 +0000 2020,Stacey Reed,1761,1274,15
22,1320431122782846978,Sun Oct 25 18:24:46 +0000 2020,Ms. Melissa teaches preschool,607,1031,0
23,1320430730997075968,Sun Oct 25 18:23:13 +0000 2020,Yvonne Cervera,426,1359,16
24,1320430128351072262,Sun Oct 25 18:20:49 +0000 2020,Rosa K,1031,277,9
25,1320429963179425793,Sun Oct 25 18:20:10 +0000 2020,Therese Hubbell,3009,3030,15
26,1320429339284967424,Sun Oct 25 18:17:41 +0000 2020,Therese Garcia,589,298,4
27,1320428039881240576,Sun Oct 25 18:12:31 +0000 2020,Pauletta Graytok,1159,441,0
28,1320427962651627521,Sun Oct 25 18:12:13 +0000 2020,Michelle Harris,518,164,0
29,1320427688759382017,Sun Oct 25 18:11:08 +0000 2020,heather khot phd,582,199,1
30,1320427688759382017,Sun Oct 25 18:11:08 +0000 2020,heather khot phd,582,199,1
31,1320427161157853197,Sun Oct 25 18:09:02 +0000 2020,‚≠êÔ∏è‚ìêùïÑ—É –≤‚Ñùanùîªùïñ‚ìùùêõ·ëårùïò‚≠êÔ∏è,2362,2747,5
32,1320426759767105536,Sun Oct 25 18:07:26 +0000 2020,AHadz üß°üå∑üêâ,5922,21833,0
33,1320426595182616576,Sun Oct 25 18:06:47 +0000 2020,‚≠êÔ∏è‚ìêùïÑ—É –≤‚Ñùanùîªùïñ‚ìùùêõ·ëårùïò‚≠êÔ∏è,2362,2747,4
34,1320425817021829123,Sun Oct 25 18:03:41 +0000 2020,Amy,198,138,3
35,1320423137234821125,Sun Oct 25 17:53:02 +0000 2020,‚≠êÔ∏è‚ìêùïÑ—É –≤‚Ñùanùîªùïñ‚ìùùêõ·ëårùïò‚≠êÔ∏è,2362,2747,5
36,1320423052287614982,Sun Oct 25 17:52:42 +0000 2020,‚≠êÔ∏è‚ìêùïÑ—É –≤‚Ñùanùîªùïñ‚ìùùêõ·ëårùïò‚≠êÔ∏è,2362,2747,11
37,1320422624623812611,Sun Oct 25 17:51:00 +0000 2020,Therese Hubbell,3009,3030,0
38,1320422596161265665,Sun Oct 25 17:50:53 +0000 2020,Therese Hubbell,3009,3030,5
39,1320421734730899456,Sun Oct 25 17:47:28 +0000 2020,Ruru,918,91,0
40,1320421362129928192,Sun Oct 25 17:45:59 +0000 2020,Laura Edwards,3097,3586,0
41,1320420279433056256,Sun Oct 25 17:41:41 +0000 2020,lamaestra,80,47,0
42,1320419363846062081,Sun Oct 25 17:38:03 +0000 2020,AHadz üß°üå∑üêâ,5922,21833,0
43,1320419277237817347,Sun Oct 25 17:37:42 +0000 2020,AHadz üß°üå∑üêâ,5922,21833,35
44,1320419236205023233,Sun Oct 25 17:37:32 +0000 2020,Yvonne Cervera,426,1359,0
45,1320419236205023233,Sun Oct 25 17:37:32 +0000 2020,Yvonne Cervera,426,1359,0
46,1320419027517345796,Sun Oct 25 17:36:43 +0000 2020,Yvonne Cervera,426,1359,0
47,1320418936668758017,Sun Oct 25 17:36:21 +0000 2020,Just Stay Home,829,1518,1
48,1320418556207616000,Sun Oct 25 17:34:50 +0000 2020,Kelly is Quar-an-teaching üçè,3651,5378,0
49,1320418366310547457,Sun Oct 25 17:34:05 +0000 2020,CrabbyStaysHome #SaveALife,1478,948,1
50,1320417725777350659,Sun Oct 25 17:31:32 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,4
51,1320417203464900609,Sun Oct 25 17:29:28 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,1
52,1320416973344260102,Sun Oct 25 17:28:33 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,0
53,1320416807107395590,Sun Oct 25 17:27:53 +0000 2020,ùïÇ. ùîΩùï£ùïöùï´ùï´ùïñùïùùïùùïñ üíìüçéüíª‚úèÔ∏èüìö,1222,899,4
54,1320416732746555392,Sun Oct 25 17:27:35 +0000 2020,Moody,1233,837,0
55,1320416669211164674,Sun Oct 25 17:27:20 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,5
56,1320416655651098627,Sun Oct 25 17:27:17 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,4
57,1320416635770097666,Sun Oct 25 17:27:12 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,1
58,1320416599493496833,Sun Oct 25 17:27:04 +0000 2020,Classroom Giving,104,3613,0
59,1320416434716069889,Sun Oct 25 17:26:24 +0000 2020,Classroom Giving,104,3613,2

In [40]:
tweets= api.search("Donorschoose", max_id='1320416434716069889')

tweet_id = []
for i in range(0, len(tweets)):
    tweet_id.append(tweets[i]._json['id'])

    
tweet_created = []
for i in range(0,len(tweets)):
    tweet_created.append(tweets[i]._json['created_at'])

tweet_username = []
for i in range(0,len(tweets)):
    tweet_username.append(tweets[i]._json['user']['name'])
    
tweet_friends = []
for i in range(0,len(tweets)):
    tweet_friends.append(tweets[i]._json['user']['friends_count'])

tweet_followers = []
for i in range(0,len(tweets)):
    tweet_followers.append(tweets[i]._json['user']['followers_count'])
    
tweet_retweet = []
for i in range(0,len(tweets)):
    tweet_retweet.append(tweets[i]._json['retweet_count'])
    
df4 = pd.DataFrame()

df4['tweet_id'] = tweet_id
df4['created_at'] = tweet_created
df4['name'] = tweet_username
df4['friends_count'] = tweet_friends
df4['followers_count'] = tweet_followers
df4['retweet'] = tweet_retweet

df4

,tweet_id,created_at,name,friends_count,followers_count,retweet
0,1320416434716069889,Sun Oct 25 17:26:24 +0000 2020,Classroom Giving,104,3613,2
1,1320416301890867203,Sun Oct 25 17:25:53 +0000 2020,Kelly is Quar-an-teaching üçè,3651,5378,4
2,1320415922427883522,Sun Oct 25 17:24:22 +0000 2020,Edmon Miguel Jr. MAED SPED,3524,786,1
3,1320414360980787200,Sun Oct 25 17:18:10 +0000 2020,"AGaiter, NBCT",485,301,0
4,1320414350230736896,Sun Oct 25 17:18:07 +0000 2020,George MacArthur,124,17,0
5,1320414150422614016,Sun Oct 25 17:17:20 +0000 2020,Vane Ch,134,24,1
6,1320413539140538368,Sun Oct 25 17:14:54 +0000 2020,Kelly is Quar-an-teaching üçè,3651,5378,4
7,1320413444538011649,Sun Oct 25 17:14:31 +0000 2020,Tiffany Callen üá∫üá∏üçé,194,72,0
8,1320413263763558401,Sun Oct 25 17:13:48 +0000 2020,hand2mind,2748,4435,0
9,1320413253651124224,Sun Oct 25 17:13:46 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,5
10,1320413208990109704,Sun Oct 25 17:13:35 +0000 2020,hand2mind,2748,4435,1
11,1320413169739849729,Sun Oct 25 17:13:26 +0000 2020,Lacey Dancer,22903,22887,3
12,1320413064903204871,Sun Oct 25 17:13:01 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,6
13,1320413047429697540,Sun Oct 25 17:12:57 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,5
14,1320413027334819844,Sun Oct 25 17:12:52 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,6

In [41]:
df=pd.concat([df,df4], ignore_index=True)
df

,tweet_id,created_at,name,friends_count,followers_count,retweet
0,1320436879611682816,Sun Oct 25 18:47:39 +0000 2020,MissSally,3130,2581,9
1,1320436777476304906,Sun Oct 25 18:47:14 +0000 2020,Teresa Smithhisler,1511,1514,9
2,1320436162381709312,Sun Oct 25 18:44:48 +0000 2020,Tammy Meyer,3152,3069,9
3,1320436161760927746,Sun Oct 25 18:44:48 +0000 2020,"Melissa Darrow, NBCT",490,259,9
4,1320435393188130816,Sun Oct 25 18:41:44 +0000 2020,Brett Bigham LGBT youth of color need your sup...,4786,11865,0
...,...,...,...,...,...,...
70,1320413208990109704,Sun Oct 25 17:13:35 +0000 2020,hand2mind,2748,4435,1
71,1320413169739849729,Sun Oct 25 17:13:26 +0000 2020,Lacey Dancer,22903,22887,3
72,1320413064903204871,Sun Oct 25 17:13:01 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,6
73,1320413047429697540,Sun Oct 25 17:12:57 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,5
74,1320413027334819844,Sun Oct 25 17:12:52 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,6

In [42]:
tweets= api.search("Donorschoose", max_id='1320413027334819844')

tweet_id = []
for i in range(0, len(tweets)):
    tweet_id.append(tweets[i]._json['id'])

    
tweet_created = []
for i in range(0,len(tweets)):
    tweet_created.append(tweets[i]._json['created_at'])

tweet_username = []
for i in range(0,len(tweets)):
    tweet_username.append(tweets[i]._json['user']['name'])
    
tweet_friends = []
for i in range(0,len(tweets)):
    tweet_friends.append(tweets[i]._json['user']['friends_count'])

tweet_followers = []
for i in range(0,len(tweets)):
    tweet_followers.append(tweets[i]._json['user']['followers_count'])
    
tweet_retweet = []
for i in range(0,len(tweets)):
    tweet_retweet.append(tweets[i]._json['retweet_count'])
    
df5 = pd.DataFrame()

df5['tweet_id'] = tweet_id
df5['created_at'] = tweet_created
df5['name'] = tweet_username
df5['friends_count'] = tweet_friends
df5['followers_count'] = tweet_followers
df5['retweet'] = tweet_retweet


df=pd.concat([df,df5], ignore_index=True)
df

,tweet_id,created_at,name,friends_count,followers_count,retweet
0,1320436879611682816,Sun Oct 25 18:47:39 +0000 2020,MissSally,3130,2581,9
1,1320436777476304906,Sun Oct 25 18:47:14 +0000 2020,Teresa Smithhisler,1511,1514,9
2,1320436162381709312,Sun Oct 25 18:44:48 +0000 2020,Tammy Meyer,3152,3069,9
3,1320436161760927746,Sun Oct 25 18:44:48 +0000 2020,"Melissa Darrow, NBCT",490,259,9
4,1320435393188130816,Sun Oct 25 18:41:44 +0000 2020,Brett Bigham LGBT youth of color need your sup...,4786,11865,0
...,...,...,...,...,...,...
85,1320408416477679618,Sun Oct 25 16:54:33 +0000 2020,Mrs. Bush #musicteacher4thefuture üéº üé∂üé∂,503,170,0
86,1320408165675126786,Sun Oct 25 16:53:33 +0000 2020,‚≠êÔ∏è‚ìêùïÑ—É –≤‚Ñùanùîªùïñ‚ìùùêõ·ëårùïò‚≠êÔ∏è,2362,2747,0
87,1320407077664231424,Sun Oct 25 16:49:13 +0000 2020,Ryan Read,13953,14018,0
88,1320405438492405766,Sun Oct 25 16:42:43 +0000 2020,Holly Harding-Smith,73,21,0
89,1320405338173079552,Sun Oct 25 16:42:19 +0000 2020,Yvonne Cervera,426,1359,22

In [43]:
tweets= api.search("Donorschoose", max_id='1320405338173079552')

tweet_id = []
for i in range(0, len(tweets)):
    tweet_id.append(tweets[i]._json['id'])

    
tweet_created = []
for i in range(0,len(tweets)):
    tweet_created.append(tweets[i]._json['created_at'])

tweet_username = []
for i in range(0,len(tweets)):
    tweet_username.append(tweets[i]._json['user']['name'])
    
tweet_friends = []
for i in range(0,len(tweets)):
    tweet_friends.append(tweets[i]._json['user']['friends_count'])

tweet_followers = []
for i in range(0,len(tweets)):
    tweet_followers.append(tweets[i]._json['user']['followers_count'])
    
tweet_retweet = []
for i in range(0,len(tweets)):
    tweet_retweet.append(tweets[i]._json['retweet_count'])
    
df6 = pd.DataFrame()

df6['tweet_id'] = tweet_id
df6['created_at'] = tweet_created
df6['name'] = tweet_username
df6['friends_count'] = tweet_friends
df6['followers_count'] = tweet_followers
df6['retweet'] = tweet_retweet


df=pd.concat([df,df6], ignore_index=True)
df

,tweet_id,created_at,name,friends_count,followers_count,retweet
0,1320436879611682816,Sun Oct 25 18:47:39 +0000 2020,MissSally,3130,2581,9
1,1320436777476304906,Sun Oct 25 18:47:14 +0000 2020,Teresa Smithhisler,1511,1514,9
2,1320436162381709312,Sun Oct 25 18:44:48 +0000 2020,Tammy Meyer,3152,3069,9
3,1320436161760927746,Sun Oct 25 18:44:48 +0000 2020,"Melissa Darrow, NBCT",490,259,9
4,1320435393188130816,Sun Oct 25 18:41:44 +0000 2020,Brett Bigham LGBT youth of color need your sup...,4786,11865,0
...,...,...,...,...,...,...
100,1320402212460367872,Sun Oct 25 16:29:53 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,1
101,1320402195653722112,Sun Oct 25 16:29:49 +0000 2020,Renee Taylor,309,206,4
102,1320402175911231490,Sun Oct 25 16:29:45 +0000 2020,Nancy Place üçäüõµüå¥üéí,12610,13262,10
103,1320402030826033152,Sun Oct 25 16:29:10 +0000 2020,FemTech_üñ•üë©üèΩ‚Äçüíª,2,16088,2
104,1320402008617160705,Sun Oct 25 16:29:05 +0000 2020,Wendy Breit,253,136,2